// {{ ansible_managed }}

// Enable the update/upgrade script (0=disable)
APT::Periodic::Enable "{{ apt_periodic_enable }}";
// Do "apt-get update" automatically every n-days (0=disable)
APT::Periodic::Update-Package-Lists "{{ apt_periodic_update_package_Lists }}";
// Do "apt-get upgrade --download-only" every n-days (0=disable)
APT::Periodic::Download-Upgradeable-Packages "{{ apt_periodic_download_upgradeable_packages }}";
// Run the "unattended-upgrade" security upgrade script
// every n-days (0=disabled)
// Requires the package "unattended-upgrades" and will write
// a log in /var/log/unattended-upgrades
APT::Periodic::Unattended-Upgrade "{{ apt_periodic_unattended_upgrade }}";
// Do "apt-get autoclean" every n-days (0=disable)
APT::Periodic::AutocleanInterval "{{ apt_periodic_autoclean_interval }}";
